/* HTML Elements */
body {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding-top: 20px;
    background-image: url('../img/pages/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 20px;
}

ul {
    padding: 0;
    list-style: none;
}

ul li {
    font-size: 16px;
}

p, p a {
    font-size: 12px;
}

p a {
    text-decoration: none;
    color: #fff;
}

p a:hover {
    text-decoration: none;
    color: #fff;
}

a {
    position: relative;
}

a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
}

a:hover:before {
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
}

textarea {
    border-radius: 10px;
}

/* Classes */
.shadow {
    background-color: rgba(0, 0, 0, 0.7);
}

.red-btn {
    background-color: #E50914;
    transition: all 0.4s;
}

.red-btn:hover {
    background-color: #92060e;
}

.title {
    font-size: 32px;
}

.comments {
    background-color: #0E1C36;
    border-radius: 10px;
}

.comment-content {
    font-size: 16px;
}

/** Glider **/

figure img {
    padding: .5em;
}

.glider a:hover:before {
    visibility: hidden;
}

.figure {
    display: block;
    margin: 1.5em;
    padding: .7em;
}

.glider-next, .glider-prev {
    top: 50%;
}

#glider-container {
    padding: 100px;
}

/* Id's */

#index:hover:before {
    visibility: hidden;
    -webkit-transform: scale(0);
    transform: scale(0);
}

/* Media querries */

@media (max-width: 576px) {
    a:hover:before {
        visibility: hidden;
    }
}

@media (max-width: 768px) {
    .alert li {
        font-size: 10px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        font-size: 10px;
    }
    button {
        font-size: 10px;
    }
    h1 {
        font-size: 14px;
        margin-bottom: 0.5rem;
    }
    p, span, a, p a {
        font-size: 10px;
    }
    .glider-next {
        right: 0;
    }
    .glider-prev {
        left: 0;
    }
}